<html> 
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
</html>
<body>
<div>
<header>
    <h1>Dungeoun & Dragons </h1>
</header>

<div>
     <button name="button" type="submit">Create</button>
</div>
<div>
    <button name="button" type="submit">Existing</button>
</div>

<footer>
    
</footer>

</body>
 